name: Test

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - run: pnpm install --frozen-lockfile
      - name: Lint
        run: pnpm run lint
      - name: Type Check
        run: pnpm run build:types
      - name: Test
        run: pnpm run test
      - name: Build Examples
        run: |
          cd examples/codegen && pnpm run codegen
          cd ../next && pnpm run build
